<div ng-controller="login" >
  <div class="formulario-login">
    <div>
      <input type="text" ng-model="email" placeholder="email">
    </div>
    <div>
      <input type="password" ng-model="pass" placeholder="contraseña">
    </div>

    <div class="button" ng-click="loginGoogle()">
        <img src="img/icons8-google-48.png" class="google">
    </div>

    <div class="button" ng-click="loginFacebook()">
        <img src="img/icons8-facebook-40.png" class="facebook">
    </div>

    <div class="button" ng-click="loginEmail()">
      Login
    </div>

    <div class="button" ng-click="registrarEmail()">
      Registrarse
    </div>

    <div class="button" ng-click="logout()">
      Logout
    </div>
  </div>

  <progress value="0" max="100" id="uploader">0%</progress>
  <br>
  <input type="file" value="upload" id="fileButton" />
  <br>
  <pre id="objeto"></pre>
  <ul id="lista"></ul>
</div>